#collectionPointPage {
    font-size: 1.4rem;

    width: 90%;
    height: 100%;
    max-width: 110rem;

    margin: 0 auto;
}

.containerCollectionPointPage header {
    margin-top: 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerCollectionPointPage header a {
    display: flex;
    align-items: center;

    color: var(--TITLE-COLOR);
    font-weight: 700;
}

.containerCollectionPointPage header a span{
    margin-right: 16px;
    display: flex;

    background-image: url('../../assets/arrow-left.svg');

    width: 2rem;
    height: 2.4rem;
}

form {
    background-color: white;

    margin: 0 auto;
    margin-top:25px;
    padding: 40px;

    border-radius: 8px;

    max-width: 73rem;
}

form h1 {
    font-size: 3.6rem;
}

form fieldset {
    margin-top: 30px;

    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 2.4rem;
}

form .field {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
}

form .fieldGroup {
    display: flex;
}

form input, form select{
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 1.6rem;

    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

form .fieldGroup .field + .field {
    margin-left: 24px;
}

form button {
    width: 26rem;
    height: 5.6rem;

    background-color: var(--PRIMARY-GREEN-COLOR);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 1.6rem;

    border: 0;

    margin-top: 40px;

    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.itemsCollectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.itemsCollectionGrid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height:18rem;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
